<div class="main-wrapper">
  <div class="header">
    <div class="header-left">
      <a href="index.html" class="logo">
        <img src="../../../assests/img/logo.png" alt="Logo" />
      </a>
      <a href="index.html" class="logo logo-small">
        <img
          src="../../../assests/img/logo-small.png"
          alt="Logo"
          width="30"
          height="30"
        />
      </a>
      <a href="javascript:void(0);" id="toggle_btn">
        <span class="bar-icon">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </a>
    </div>
    <div class="top-nav-search">
      <form>
        <input type="text" class="form-control" placeholder="" />
        <button class="btn" type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>

    <a class="mobile_btn" id="mobile_btn">
      <i class="fas fa-bars"></i>
    </a>
    <app-sidebar />
    <div class="dropdown mobile-user-menu show">
      <a
        href="#"
        class="nav-link dropdown-toggle"
        data-toggle="dropdown"
        aria-expanded="false"
        ><i class="fa fa-ellipsis-v"></i
      ></a>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="profile.html">My Profile</a>
        <a class="dropdown-item" href="settings.html">Settings</a>
        <a class="dropdown-item" href="login.html">Logout</a>
      </div>
    </div>
  </div>

  <div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
      <div class="sidebar-contents">
        <div id="sidebar-menu" class="sidebar-menu">
          <div class="mobile-show">
            <div class="offcanvas-menu">
              <div class="user-info align-center bg-theme text-center">
                <span class="lnr lnr-cross text-white" id="mobile_btn_close"
                  >X</span
                >
                <a
                  href="javascript:void(0)"
                  class="d-block menu-style text-white"
                >
                  <div class="user-avatar d-inline-block mr-3">
                    <img
                      src="../../../assests/img/profiles/avatar-18.jpg"
                      alt="user avatar"
                      class="rounded-circle"
                      width="50"
                    />
                  </div>
                </a>
              </div>
            </div>
            <div class="sidebar-input">
              <div class="top-nav-search">
                <form>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search here"
                  />
                  <button class="btn" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <ul>
            <li class="active">
              <a href="index.html"
                ><img src="../../../assests/img/home.svg" alt="sidebar_img" />
                <span>Dashboard</span></a
              >
            </li>
            <li>
              <a href="employee.html"
                ><img
                  src="../../../assests/img/employee.svg"
                  alt="sidebar_img"
                /><span> Employees</span></a
              >
            </li>
            <li>
              <a href="company.html"
                ><img
                  src="../../../assests/img/company.svg"
                  alt="sidebar_img"
                />
                <span> Company</span></a
              >
            </li>
            <li>
              <a href="calendar.html"
                ><img
                  src="../../../assests/img/calendar.svg"
                  alt="sidebar_img"
                />
                <span>Calendar</span></a
              >
            </li>
            <li>
              <a href="leave.html"
                ><img src="../../../assests/img/leave.svg" alt="sidebar_img" />
                <span>Leave</span></a
              >
            </li>
            <li>
              <a href="review.html"
                ><img
                  src="../../../assests/img/review.svg"
                  alt="sidebar_img"
                /><span>Review</span></a
              >
            </li>
            <li>
              <a href="report.html"
                ><img
                  src="../../../assests/img/report.svg"
                  alt="sidebar_img"
                /><span>Report</span></a
              >
            </li>
            <li>
              <a href="manage.html"
                ><img src="../../../assests/img/manage.svg" alt="sidebar_img" />
                <span>Manage</span></a
              >
            </li>
            <li>
              <a href="settings.html"
                ><img
                  src="../../../assests/img/settings.svg"
                  alt="sidebar_img"
                /><span>Settings</span></a
              >
            </li>
            <li>
              <a href="profile.html"
                ><img
                  src="../../../assests/img/profile.svg"
                  alt="sidebar_img"
                />
                <span>Profile</span></a
              >
            </li>
          </ul>
          <ul class="logout">
            <li>
              <a href="profile.html"
                ><img
                  src="../../../assests/img/logout.svg"
                  alt="sidebar_img"
                /><span>Log out</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="page-wrapper">
    <div class="content container-fluid">
      <div class="page-name mb-4">
        <h4 class="m-0">
          <img
            src="../../../assests/img/profile.jpg"
            class="mr-1"
            alt="profile"
          />
          Welcome Admin
        </h4>
        <label>Sun, 29 Nov 2019</label>
      </div>
    </div>
  </div>
</div>
